<header class = "flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto" >
    <img
    class="rounded-full size-12 mb-4"
    src="https://media.licdn.com/dms/image/D4D03AQGSCeEjnv2fqA/profile-displayphoto-shrink_800_800/0/1698313872038?e=1709164800&v=beta&t=0MjbqXTBUtzWYv5H9X_oAeaVZL1jfasWfzcBM4H_BWE"
    alt="Isaac Photo"
  />
    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a href="#top">Home</a>
        <a href="#projects">Projects</a>
        <a href="#experience">Experience</a>
        <a href="#about-me">About me</a>
        <a href="#contact">Contacts</a>
    </nav>

</header>